<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<parameter name="browser_simple" value="firefox" />
	<parameter name="url_simple" value="http://www.rediffmail.com" />
	
	<parameter name="browser" value="chrome" />
	<parameter name="url" value="https://docs.oracle.com/javase/7/docs/api/" />
	<parameter name="urlRediff" value="https://www.rediff.com" />

	<test thread-count="5" name="Test">
	
	<packages>
		<package name="test"></package>
	</packages>
			
  		
	</test> <!-- Test -->
</suite> <!-- Suite -->


<!-- 
	<packages>
  			<package name="test"></package>
  		</packages>
 -->
		
